.contactanos-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 90px);
    min-height: 70vw;
    padding-top: 90px;
    background-color: $color-texto;
    form {
        padding: 3vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3vw;
        row-gap: 1vw;
        background-color: $color-secundario;
        height: 50vw;
        width: 60VW;
        h1 {
            @include text(3.5vw, $color-texto, underline);
            display: block;
            text-align: center;
            grid-column: 1/3;
            margin-bottom: 2vw;
        }
        label {
            font-size: 1.5VW;
            height: 3vw;
            text-align: right;
            color: $color-texto;
        }
        button:hover {
            background-color: $color-principal;
        }
        .button-style {
            font-size: 1.5VW;
            border: none;
            outline: none;
            padding: 0.1vw;
            background-color: $color-texto;
            color: $color-secundario;
        }
        button {
            @extend .button-style;
            margin: 0 22.5VW;
            margin-top: 2vw;
            grid-column: 1/3;
        }
        input {
            @extend .button-style;
            height: 3vw;
        }
        textarea {
            @extend .button-style;
            height: 15vw;
        }
    }
}