.productos-main {
    height: calc(100vh - 90px);
    min-height: 96.5vw;
    padding-top: 90px;
    h1 {
        margin-bottom: 0;
        margin-top: 3vw;
        text-align: center;
        color: #392F5A;
        font-size: 3.5vw;
        text-decoration: underline;
    }
    section {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: calc(85vw/5);
        grid-template-areas: 
            "a b b c c"
            "a d e e e"
            "a d f f g"
            "h h f f i";
        row-gap: 1vw;
        column-gap: 1vw;
        padding: 5vw;
        a {
            background-color: #392F5A;
            overflow: hidden;
        }
        a:hover {
            -webkit-box-shadow: 5px 5px 2.5px 0px #392F5A;
            -moz-box-shadow: 5px 5px 2.5px 0px #392F5A;
            box-shadow: 5px 5px 2.5px 0px #392F5A;
        }
        .producto1 {
            grid-area: a;
        }
        .producto2 {
            grid-area: b;
        }
        .producto3 {
            grid-area: c;
        }
        .producto4 {
            grid-area: d;
        }
        .producto5 {
            grid-area: e;
        }
        .producto6 {
            grid-area: f;
        }
        .producto7 {
            grid-area: g;
        }
        .producto8 {
            grid-area: h;
        }
        .producto9 {
            grid-area: i;
        }
    }
}